<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To-Do</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
           {{{body}}}
        </div>
    </div>
</body>
<script>
    $("#task-form").on('submit', (e) => {
            e.preventDefault();
            let newTask = {
                newTask: $('#task-form [name=newTask]').val().trim()
            };
            $("#task-input").val("");
            $.post("/newTask", newTask)
            .then((data, error)=>{
                console.log(data);
                console.log(error);
                location.reload();
            })
    });


    $(".delete").on("click", (e)=>{
        e.preventDefault();
        console.log(e.target);
        let id = $(e.target).attr("taskid");
        console.log("ID:", id);
        $.get('/deleteTask/'+id)
        .then(
            (data,error)=>{
                location.reload();
                console.log(data);
                console.log(error);
            }
        )
    })

</script>
</html>